<!DOCTYPE html>
<html lang="en">

{{>header}}

<body>

    <div class="main-container" id="goRight">
        <div class="nav">
            <ul class="navbar">
                <li>
                    <p>RUPAAK</p>
                </li>
                <ul class="daynight">
                    <li id="day"><i class="fas fa-sun"></i></li>
                    <li id="night"><i class="fas fa-moon"></i></li>
                </ul>

            </ul>
        </div>
        <div class="main-body">
            <div class="circleImg"><img src="./image/1.png" alt=""></div>
            <h2>RUPAK THAPA MAGAR</h2>
            <p>Google, youtube, stackoverflow taught Pull Stack Web Devloper. </p>
            <ul>
                <li><a class="link" href="https://github.com/RUPAAK" target="_a"><i class="fab fa-github"></i></a></li>
                <li><a class="link" href="https://www.facebook.com/Rupakthapa123" target="_a"><i class="fab fa-facebook"></i></a>
                </li>
                <li><a class="link" href="https://www.linkedin.com/in/rupak-thapa-magar-8079951b3/" target="_a"><i
                            class="fab fa-linkedin-in"></i></a></li>
                <li><a class="link" href="https://www.instagram.com/codedev69/" target="_a"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>

        <!--Projects-->
        <div class="main_project_container">
            <div class="projects">
                <div class="first_project">
                    <h2>MERN ECOMMERCE SITE</h2>
                    <p>A fully functioning ecommerce website made with mongodb, node, react and express. Can be used as
                        real life ecommerce website. On Progress</p>
                    <a class="link" href="https://github.com/RUPAAK/MERN_ECOMMERCE" target="_blank">Click Here...</a>
                </div>
                <div class="second_project">
                    <h2>MERN SOCIAL MEDIA</h2>
                    <p>Social media app capale of uploading post, liking, comment, adding friends, removing friends,
                        updating profile and many more things. On Progress</p>
                    <a class="link" href="https://github.com/RUPAAK/SOCIO_APP" target="_black">Click Here...</a>
                </div>
                <div class="third_project">
                    <h2>MERN FILE UPLOAD</h2>
                    <p>Upload file/ images from React frontend to Nodejs backend and store in MongoDB database. The file
                        further can be acessed and used in frontend</p>
                    <a class="link" href="https://github.com/RUPAAK/MERN_FILEUPLOAD_CODE" target="_blank">Click Here..</a>
                </div>
                <div class="fourth_project">
                    <h2>MERN CRUD OPERATION</h2>
                    <p>MERN crud operation. Memory app that is capable of create, store, edit and delete documents in
                        database.</p>
                    <a class="link" href="https://github.com/RUPAAK/MERN_CRUD_MEMORY_APP" target="_blank">Click Here..</a>
                </div>
            </div>
 
            <p class="seemore" href="">See More...</p>


            <div class="hidden_projects">
                <div class="hidden_first_project">
                    <h2>CHAT APP</h2>
                    <p>Simple chat app made using socket.io, node js and html as frontend.</p>
                    <a class="link" href="https://github.com/RUPAAK/SIMPLE_CHAT_APP" target="_blank">Click Here..</a>
                </div>
                <div class="hidden_second_project">
                    <h2>WEATHER WORLD</h2>
                    <p>Get real time weather of world with temperature, climate and many more. Fetched free weather API.
                    </p>
                    <a class="link" href="https://github.com/RUPAAK/Weather-Finder" target="_blank">Click Here..</a>
                </div>
            </div>
        </div>

        <!--SKILLS-->

        <div class="skills">
            <ul>
                <li><i class="link fab fa-css3-alt"></i></li>
                <li><i class="link fab fa-js-square"></i></li>
                <li><i class="link fab fa-react"></i></li>
                <li><i class="link fab fa-node"></i></li>
                <li><i class="link fas fa-database"></i></li>
            </ul>
        </div>

        <div class="form_container">
            <p class="form_topic">Contact Me</p>
            <form action="/" method="POST" class="form">
                <input type="text" placeholder="Name" name="username" required>
                <input type="number" placeholder="Contact Number (Optional...)" name="number">
                <input type="email" placeholder="Email" name="email" required>
                <textarea id="" cols="30" rows="10" placeholder="Message" name="message" required ></textarea>
                <button type="submit" class="form_button">Connect</button>
            </form>
        </div>

        <!--Footer-->

        <footer class="footer">
            <div class="left-footer">
                <ul>
                    <li><i class="fas fa-street-view"></i> Balaju, Kathmandu</li>
                    <li><i class="fas fa-phone-alt"></i> +977 9861253100</li>
                    <li><i class="fas fa-envelope-open-text"></i> rupakt525@gmail.com</li>
                </ul>
            </div>
            <div class="right-footer">
                <h2>ABOUT</h2>
                <p>Innovative, forward-thinking executive offering skills in
                    various leadership roles in the areas of Web Designing and Developement. Skillful
                    in strategic and tactical planning, client relationship
                    management. Student of Bsc.CSIT(2076)
                </p>
                <ul>
                    <li><a class="link" href="https://github.com/RUPAAK" target="_a"><i class="link fab fa-github"></i></a></li>
                    <li><a class="link" href="https://www.facebook.com/Rupakthapa123" target="_a"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li><a class="link" href="https://www.linkedin.com/in/rupak-thapa-magar-8079951b3/" target="_a"><i
                                class="fab fa-linkedin-in"></i></a></li>
                    <li><a class="link" href="https://www.instagram.com/codedev69/" target="_a"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./script.js"></script>
</body>

</html>